---
title: "Gridcoin - Project Whitelist"
description: "The Gridcoin whitelist is a list of community-approved BOINC projects which are applicable for earning Gridcoin."
---
<section  data-background-color="black" style="padding-bottom: 5px; padding-top:150px; margin-top: 0px;">
        <!--Start of GRC Feature section-->
        <!--First row of features-->
        <div class="container" style="overflow:hidden;">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h5>Whitelist justification</h5>
                    <p>The whitelist was created to increase security and to focus user's resources on active projects.</p>
                    
                    <h5>Discussion</h5>
                    <p><a href="https://cryptocurrencytalk.com/topic/29841-discussion-boinc-whitelist-monitoring/">CCT Whitelist thread</a></p>
                    <p><a href="https://cryptocurrencytalk.com/forum/2436-projects/">Projects subforum</a></p>
                </div>

                <div class="col-xs-12 col-sm-8">
                    <h5>Please note:</h5>
                    <p>You will only be rewarded Gridcoin for whitelisted BOINC projects.</p>
                    <p>Any BOINC work done outside of the whitelisted BOINC projects will not be rewarded Gridcoin.</p>
                    <p>Want a project whitelisted? <a href="https://cryptocurrencytalk.com/forum/2436-projects/">Create a thread about it</a>!
                    <p>You can check whitelisted project details on <a href="https://gridcoinstats.eu/project">Gridcoinstats</a>.</p>
                    <p>The whitelist is verifiable within the Windows client (coming to Linux soon).</p>
                </div>
            </div>
        </div>
        <!--/Second row of features-->
        <div class="container" style="overflow:hidden">
            <div class="row" style="margin-top:20px;">
                <div class='col-xs-12 col-sm-12 text-center' style="">
                    <h3>Greylist</h3>
                    <p>When projects are running out of work or are offline for temporary maintenance they are placed on the Greylist.  These projects will not reward Gridcoin until they meet the requirements to be placed back on the whitelist again.  Please see various social media (Twitter, Facebook, Reddit, Slack) for notices about greylisted projects.</p>
                    <p>Please see <a href="https://gridcoin.ddns.net/pages/project-list.php">The official Greylist website</a> for daily updates on which projects are added and removed from the Greylist.</p>
                    <p><a href="https://gridcoin.ddns.net/pages/project-list-process.php">This document</a> outlines the Greylist procedure for all whitelisted projects.</p>
                </div>
            </div>
        </div>
        <!--End of GRC Feature Section-->
    </section>

    <section  data-background-color="black" style="overflow-x: hidden">
        <!-- BOINC Content -->
        <div class="container" style="margin-top:20px;">
            <div class="row">
                <div class="hidden-sm-down col-md-12 col-lg-12">
                    <table class="table table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Goal
                                </th>
                                <th>
                                    Sponsor
                                </th>
                                <th>
                                    CPU
                                </th>
                                <th>
                                    GPU
                                </th>
                                <th>
                                    Team
                                </th>
                                <th>
                                    Stats
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.whitelist.projects.each do |project| %>
                                <tr>
                                    <td>
                                        <a href=<%= project.link %> style="font-weight:bold;"><%= project.name %></a>
                                    </td>
                                    <td>
                                        <%= project.goal %>
                                    </td>
                                    <td>
                                        <%= project.sponsor %>
                                    </td>
                                    <td>
                                        <% if project.cpu == "yes" %>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                        <% else %> 
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if project.gpu == "yes" %>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                        <% else %> 
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        <% end %>                                    
                                    </td>
                                    <td>
                                        <a href="<%= project.team %>" title="Gridcoin Team Link"><i class="fa fa-users" aria-hidden="true"></i></a>
                                    </td>
                                    <td>
                                        <a href="<%= project.stats %>" title="Project stats"><i class="fa fa-list-ol" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 col-sm-12 hidden-md-up">
                    <table class="table table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Sponsor
                                </th>
                                <th>
                                    CPU
                                </th>
                                <th>
                                    GPU
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.whitelist.projects.each do |project| %>
                                <tr>
                                    <td>
                                        <a href=<%= project.link %> style="font-weight:bold;"><%= project.name %></a>
                                    </td>
                                    <td>
                                        <%= project.sponsor %>
                                    </td>
                                    <td>
                                        <% if project.cpu == "yes" %>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                        <% else %> 
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        <% end %>
                                    </td>
                                    <td>
                                        <% if project.gpu == "yes" %>
                                          <i class="fa fa-check" aria-hidden="true"></i>
                                        <% else %> 
                                          <i class="fa fa-times" aria-hidden="true"></i>
                                        <% end %>                                    
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
